VITE_FIREBASE_API_KEY=PASTE_FIREBASE_API_KEY_HERE
VITE_FIREBASE_AUTH_DOMAIN=family-trips-9aef4.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=family-trips-9aef4
VITE_FIREBASE_STORAGE_BUCKET=family-trips-9aef4.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=615876704416
VITE_FIREBASE_APP_ID=1:615876704416:web:69c55743d6f499319b31c5
VITE_FIREBASE_MEASUREMENT_ID=G-J4RS16JD93
